<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.am.framework">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_cheer_active"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_cheer_active"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ImagesSliderActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.NotificationBadgeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SpannyActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.YendexTranslateActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.DrawerActivity"
            android:label="@string/title_activity_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MaterialDrawerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.YoutubePlayerActivity"
            android:label="@string/title_activity_youtube_player"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>