<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.am.framework">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.example.udacity.droidtermsexample.TERMS_READ" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_cheer_active"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_cheer_active"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:launchMode="singleTop"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ImagesSliderActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.NotificationBadgeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SpannyActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.YendexTranslateActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.DrawerActivity"
            android:label="@string/title_activity_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MaterialDrawerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.YoutubePlayerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
            android:label="@string/title_activity_youtube_player"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ManyImageViewsActivity"
            android:label="@string/title_activity_many_image_views"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.CustomToolbarActivity"
            android:label="@string/title_activity_custom_toolbar"
            android:theme="@style/NoActionBarNoStatusBarTheme" />
        <activity
            android:name=".activity.FirebaseUserProfileActivity"
            android:label="@string/title_activity_firebase_user_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SettingsActivity"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.SqliteActivity"
            android:label="@string/title_activity_sqlite"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.RecyclerViewActivity" />
        <activity
            android:name=".activity.SecondRecyclerAdapterActivity"
            android:theme="@style/AppTheme.Template.Base"></activity>
        <activity
            android:name=".activity.ContentResolverActivity"
            android:label="@string/title_activity_content_resolver"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>